@import "tailwindcss";

@font-face {
    font-family: LibreFranklin;
    font-display: swap;
    src: url("./../fonts/LibreFranklin-VariableFont_wght.ttf") format("truetype");

}

@theme {


    --color-primary: #2563eb;
    /* Azul vibrante */
    --color-secondary: #1e40af;
    /* Azul oscuro */
    --color-accent: #0ea5e9;
    /* Azul claro */
    --color-dark: #1e293b;
    /* Gris azulado oscuro */
    --color-light: #f8fafc;
    /* Blanco azulado muy claro */
    --color-bg: #ffffff;
    /* Blanco puro */
    --font-display: LibreFranklin, sans-serif;
}

.nav-link {
    @apply text-white hover:text-gray-500 font-medium uppercase transition-colors duration-300 relative;
}

.nav-link-span {
    @apply absolute bottom-0 left-0 w-0 h-0.5 bg-gray-500 transition-all duration-300 ease-in-out;
}

.nav-link-mobile {
    @apply text-white hover:bg-gray-500/50 px-3 py-2 rounded-md text-base font-medium uppercase transition-colors duration-300;
}

@utility animate-slideDown {
    animation: slideDown 0.3s ease-out forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@source "../src/"